<!--
  Generated template for the SkripsiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pendataan Skripsi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form [formGroup]="form" (ngSubmit)="submitSkripsi()">
    
  <ion-grid>
    <ion-row style="background:#488aff; height:40px;">
      <h5 style="color:#f4f4f4;padding:10px;">DATA DIRI</h5>
    </ion-row>
  </ion-grid>

  <ion-item>
        <ion-label color="dark" fixed>Nama</ion-label>
        <ion-input type="text" formControlName="nama" placeholder="Nama" required></ion-input>
  </ion-item>

  <ion-item>
        <ion-label color="dark" fixed>NIM</ion-label>
        <ion-input type="text" formControlName="nim" placeholder="NIM"></ion-input>
    </ion-item>

    <ion-item>
          <ion-label color="dark" fixed>Judul Skripsi</ion-label>
          <ion-input type="text" formControlName="judul" placeholder="Judul" ></ion-input>
    </ion-item>

      <ion-item>
          <ion-grid item-content>
            <ion-row>
              <ion-col>
                <ion-label color="dark">Class of</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                  <ion-select formControlName="optClass" >
                     <!-- [(ngModel)]="class" -->
                      <ion-option value="2012">2012</ion-option>
                      <ion-option value="2013">2013</ion-option>
                      <ion-option value="2014">2014</ion-option>
                      <ion-option value="2015">2015</ion-option>
                    </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>

      <ion-grid>
          <ion-row style="background:#488aff; height:40px;">
          <h5 style="color:#f4f4f4;padding:10px;">Pembimbing</h5>
          </ion-row>
        </ion-grid>

      <!-- <ion-item>
            <ion-label color="dark" fixed>Nama #1</ion-label>
            <ion-input type="text" name="nama1" placeholder="Pembimbing 1" ></ion-input>
      </ion-item>

      <ion-item>
            <ion-label color="dark" fixed>Nama #2</ion-label>
            <ion-input type="text" name="nama2" placeholder="Pembimbing 2" ></ion-input>
      </ion-item> -->
  
      <div
      formArrayName="pembimbing"
      margin-bottom>

        <section [formGroupName]="i"
           *ngFor="let tech of form.controls.pembimbing.controls; let i = index">
           <ion-item-group>
               <ion-item-divider color="light">Nama Pembimbing #{{ i + 1 }}</ion-item-divider>
              <ion-item>
                 <ion-label floating>Nama Pembimbing:</ion-label>
                 <ion-input
                    type="text"
                    maxlength="50"
                    formControlName="name"></ion-input>
              </ion-item>


              <!-- Allow generated input field to be removed -->
              <span
                 float-right ion-button icon-left clear
                 *ngIf="form.controls.pembimbing.length > 1"
                 (click)="removeInputField(i)">
                 <ion-icon name="close"></ion-icon>
                 Remove
              </span>
           </ion-item-group>
        </section>
     </div>


     <!-- Allow new input field to be generated/added -->
     <span ion-button float-left icon-left clear (click)="addNewInputField()">
           <ion-icon name="add"></ion-icon>
           Tambah Pembimbing
     </span>


      <ion-item>
          <ion-radio [checked]="isChecked" (ionSelect)="changeValue($event)" name="lintas" item-left></ion-radio>
          <ion-label>Lintas Prodi</ion-label>
      </ion-item>

      <button ion-button type="submit" color="secondary" block>Submit</button>

</form>
</ion-content>
