<!--
  Generated template for the QuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>quote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content text-center>
         {{quoteText}}
        </ion-card-content>
        <ion-card-content text-center>
          <p color="grey">{{quotePerson}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col text-center>
              <button color="danger" (click)="closeModal(true)" ion-button outline small>
                  Unfavorite
                </button>
          </ion-col>
      </ion-row>
    </ion-card>
    <ion-row>
        <ion-col text-center>
          <button color="danger" (click)="closeModal(false)" ion-button mall>
            Close
          </button>
      </ion-col>
    </ion-row>
</ion-content>
